<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AbandonProcessGroup</key>
	<true/>
	<key>KeepAlive</key>
	<false/>
	<key>Label</key>
	<string>local.lcars.DNSCryptLoopback</string>
	<key>Nice</key>
	<integer>8</integer>
	<key>ProgramArguments</key>
	<array>
		<string>/sbin/ifconfig</string>
		<string>lo0</string>
		<string>alias</string>
		<string>127.0.0.54</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/tmp/local.lcars.DNSCryptLoopback.stderr</string>
	<key>StandardOutPath</key>
	<string>/tmp/local.lcars.DNSCryptLoopback.stdout</string>
</dict>
</plist>
