<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>local.lcars.DNSCryptSourceWatcher</string>
	<key>LowPriorityBackgroundIO</key>
	<true/>
	<key>LowPriorityIO</key>
	<true/>
	<key>Nice</key>
	<integer>20</integer>
	<key>ProcessType</key>
	<string>Background</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/sh</string>
		<string>-c</string>
		<string>/usr/local/bin/fswatch -o /usr/local/etc/public-resolvers.md | xargs -n1 /usr/local/bin/dnscrypt-ipns.sh</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/tmp/local.lcars.DNSCryptSourceWatcher.stderr</string>
	<key>StandardOutPath</key>
	<string>/tmp/local.lcars.DNSCryptSourceWatcher.stdout</string>
</dict>
</plist>
